@tailwind base;
@tailwind components;
@tailwind utilities;
/* layout */
.App {
    @apply bg-primary-dark min-h-screen
}
.documentHistoryList {
    @apply max-w-[1000px] flex justify-around flex-wrap
}
.documentHistory-li {
    @apply w-[250px] m-5 border-2
}
/* tailwind沒有的 */
.perspective-1500 {
    perspective: 1500px;
}
.backface-hidden{
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
/* components */
.brimary-btn {
    @apply w-[100px] h-[50px] border-2 bg-primary-600 rounded-sm
}
.secndary-btn {
    @apply w-[100px] h-[50px] border-2 border-primary-600
}
.close-btn {
    @apply w-[64px] h-[64px] rounded-full text-lg font-bold
}
.upload-btn {
    @apply p-2 border-2 rounded-sm cursor-pointer
}
.circle-btn {
    @apply w-[50px] h-[50px] rounded-full
}
.loading {
    @apply dark:text-gray-600 inline mr-2 animate-spin
}
.message-box-wrap {
    @apply absolute w-full h-full p-10 z-10;
}
.message-box {
    @apply max-w-[200px] min-w-[100px] text-center rounded-md;
}
/* canvas */
.signCanvas{
    @apply min-w-[300px] max-w-[500px] w-full h-[200px] border-2 bg-primary-600 touch-none
}
/* 特效 */
.flipCard {
    @apply w-full h-full absolute backface-hidden transition-all duration-1000 ease-in-out
}
.indecatorStep {
    transform: rotateY(0deg);
}
.indecatorStep.done {
    transform: rotateY(180deg);
}
.indecatorTick {
    transform: rotateY(-180deg);
}
.indecatorTick.done {
    transform: rotateY(0deg);
}
.circle {
    stroke-dasharray: 290;
    stroke-dashoffset: 290;
}
.indecatorTick.done .circle  {
    animation: circle 1s ease-in-out forwards;
}
.indecatorTick.done .tick  {
    animation: tick 1s ease-in-out forwards;
}
.tick {
    stroke-dasharray: 90;
    stroke-dashoffset: 90;
    animation: tick 2s 1s ease-in-out forwards;
}
/* 動畫 */
.fade-in {
    animation: fadeIn 1s ease-in-out ;
}
.fade-out {
    animation: fadeOut 1s ease-in-out ;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 100;
    }
}
@keyframes fadeOut {
    from {
        opacity: 100;
    } to {
        opacity: 0;
    }
}
@keyframes circle {
    from {
        stroke-dashoffset: 290;
    } to {
        stroke-dashoffset: 580;
    }
}
@keyframes tick {
    from {
        stroke-dashoffset: 350;
    } to {
        stroke-dashoffset: 0;
    }
}