@tailwind base;
@tailwind components;
@tailwind utilities;

/* layout */
.App {
    @apply  min-h-screen bg-gray-500 dark:text-white dark:bg-primary-dark
}

.documentHistoryList {
    @apply max-w-[1000px] flex justify-around flex-wrap
}

.documentHistory-li {
    @apply w-[280px] m-5 border-2 p-2
}
.landingPage-card {
    @apply w-[280px] h-[280px] border-2 border-acent flex flex-col items-center justify-center m-5 cursor-pointer rounded-sm
}
.landingPage-card:hover h2 {
    @apply text-acent mt-5
}
/* tailwind沒有的 */
.perspective-1500 {
    perspective: 1500px;
}

.backface-hidden {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* components */
.nav li:hover a span:before,
.nav li:hover a span:after {
    @apply opacity-100 translate-x-0 translate-y-0
}

.nav li.active a span:before,
.nav li.active a span:after {
    @apply opacity-100 translate-x-0 translate-y-0
}

.brimary-btn {
    @apply w-[250px] h-[50px] border-2 border-primary-800 bg-primary-600 rounded-sm m-3
}

.secndary-btn {
    @apply w-[250px] h-[50px] border-2 border-primary-600 m-3
}

.close-btn {
    @apply w-[64px] h-[64px] rounded-full text-lg font-bold
}

.upload-btn {
    @apply p-2 border-2 rounded-sm cursor-pointer
}

.circle-btn {
    @apply w-[50px] h-[50px] rounded-full
}

.loading {
    @apply dark:text-gray-600 inline mr-2 animate-spin
}

.overlay {
    @apply absolute w-full h-full p-10 z-10 bg-overlay;
}

.message-box {
    @apply max-w-[500px] min-w-[100px] text-center rounded-md px-5 py-10 absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] z-10
}

/* canvas */
.signCanvas {
    @apply bg-slate-400 touch-none
}

/* 特效 */
.primary-bg-gradient {
    @apply bg-gradient-to-r from-primary-900 via-success to-primary-900
}
.flipCard {
    @apply w-full h-full absolute backface-hidden transition-all duration-1000 ease-in-out
}

.indecatorStep {
    transform: rotateY(0deg);
}

.indecatorStep.done {
    transform: rotateY(180deg);
}

.indecatorTick {
    transform: rotateY(-180deg);
}

.indecatorTick.done {
    transform: rotateY(0deg);
}

.circle {
    stroke-dasharray: 290;
    stroke-dashoffset: 290;
}

.indecatorTick.done .circle {
    animation: circle 1s ease-in-out forwards;
}

.indecatorTick.done .tick {
    animation: tick 1s ease-in-out forwards;
}

.tick {
    stroke-dasharray: 90;
    stroke-dashoffset: 90;
    animation: tick 2s 1s ease-in-out forwards;
}

/* 動畫 */
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

@keyframes fadeOut {
    from {
        opacity: 100;
    }

    to {
        opacity: 0;
    }
}

@keyframes circle {
    from {
        stroke-dashoffset: 290;
    }

    to {
        stroke-dashoffset: 580;
    }
}

@keyframes tick {
    from {
        stroke-dashoffset: 350;
    }

    to {
        stroke-dashoffset: 0;
    }
}